<h1>rachael miller development</h1>

<%= react_component 'App', posts: @posts %>


<!-- Modal for About -->
<div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>

<!-- Modal for Contact -->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Like what you see? Get in touch!</h4>
      <ul>
        <!-- display in-line block with icons on top, usernames/emails/numbers below -->
        <li><a target="_blank" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=rachael.miller@gmail.com&tf=1"><i class="material-icons medium">email</i><span>rachael.miller05@gmail.com</span></a></li>
        <li><i class="material-icons medium">phone</i> 914-420-0644</li>
        <li><a target="_blank" href="https://www.linkedin.com/in/raemilla
"><i class="fa fa-linkedin-square" aria-hidden="true"></i>raemilla</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/raemilla
"><i class="fa fa-github" aria-hidden="true"></i>raemilla</a></li>
      </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">done</i></a>
  </div>
</div>
