<!DOCTYPE html>
<html>
  <head>
    <title>rachael miller development</title>
  </head>
  <body>
    <h1>rachael miller development</h1>
    <% @posts.each do |post|%>
      <h2><%= post.title %></h2>
      <p><%= post.text.html_safe %></p>
      <p>posted by Rachael Miller at <%= post.created_at %></p>
    <% end %>
  </body>
</html>
