<h1>projects page</h1>

<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item red white-text" href="#one!">
      <h2>7Chord</h2>
      <p class="white-text">This is your first panel</p>
      <a class="btn waves-effect white grey-text darken-text-2">github</a>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Mad Phone</h2>
      <p class="white-text">This is your second panel</p>
      <a class="btn waves-effect white grey-text darken-text-2">live site</a><a class="btn waves-effect white grey-text darken-text-2">github</a>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>My Piggy Bank</h2>
      <p class="white-text">This is your third panel</p>
      <a class="btn waves-effect white grey-text darken-text-2">live site</a><a class="btn waves-effect white grey-text darken-text-2">github</a>
    </div>
  </div>
